{% extends 'base_layout.html' %}

{% block content %}
<div>
    <div>
        <h2>{{recipe.name}} by {{recipe.author}}</h2>
        <img src={{recipe.picture}} alt={{recipe.name}}>
        <p>{{recipe.ingredient}}</p>
        <p>{{recipe.instructions}}</p>
        <p>Nutrient Information:</p>
        <ul>
            {% for nutrient_info in formatted_nutrients %}
                {% if nutrient_info.value != 0 %}
                
                <li>{{ nutrient_info.nutrient }}: {{ nutrient_info.value }} {{ nutrient_info.unit }}</li>
                {% endif %}
            {% endfor %}
          
          </ul>
          </div>
</div>
{% endblock %}
